.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual ancho */
  grid-gap: 10px; /* Espacio entre los elementos */
}

.item {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}